
/* Main styling */

* {
  text-align: left;
}

body {
  
}

/* Background and body 
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
#FF9F1C - yellow
#E71D36 - red
*/

.jumbotron-fluid {
  background-color: #011627;
}

.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: #2EC4B6;
}

.lead {
  color: #FDFFFC;
  letter-spacing: 1px;
}

.fas {
  padding-right: 8px;
}